body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .quiz-container {
    background: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 700px;
    text-align: center;
  }
  
  #badge {
    font-size: 2rem;
    background: #007BFF;
    color: white;
    border-radius: 999px;
    padding: 0.5rem 1.5rem;
    margin-bottom: 1rem;
    display: inline-block;
  }
  
  #question-box {
    font-size: 1.3rem;
    margin: 1rem 0;
    width:100%;
  }
  
  #options-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .option-btn {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    background: #eeeeee;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .option-btn:hover {
    background: #ddd;
  }
  
  .option-btn.correct {
    background-color: #28a745 !important;
    color: white;
  }
  
  .option-btn.wrong {
    background-color: #dc3545 !important;
    color: white;
  }
  
  #controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #skip-btn {
    padding: 0.5rem 1rem;
    background: #ff9800;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    height: 45px;
    width: 120px;
  }
  
  #skip-btn:hover {
    background: #e68900;
  }
  
  #timer {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007BFF;
  }
  .review-container {
    text-align: left;
    width: 100%;
  }
  
  .review-item {
    background: #f9f9f4;
    padding: 1rem;
    border-left : 5px solid #dc3545;
    border-right: 5px solid #dc3545;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    border-bottom: 1px solid red;
    margin : 5px;
  }
  
  .review-item p {
    margin: 0.25rem 0;
    width: 100%;
    word-wrap: break-word;
    
  }
  
  .review-item hr {
    margin-top: 0.5rem;
    border: 0;
    height: 1px;
    background: #ccc;
  }
  .review-scroll {
    max-height: 400px; /* Adjust as needed */
    height:150px;
    overflow-y: auto;
    width: 100%;
    padding-right: 0.5rem; /* space for scrollbar */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
  }
  
  .review-grid {
    display: block;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }  

  .restart-btn {
    margin-top: 2rem;
    padding: 0.75rem 1.5rem;
    background-color: #28a745;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .restart-btn:hover {
    background-color: #218838;
  }
  